<nav class="navbar bg-primary fixed-top">
      <div class="container-fluid" >
        <button class="navbar-toggler border-0 text-white" type="button"
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <i class="bi bi-list" style="color: aliceblue;"></i>
        </button>
        <div class="dropdown px-5">
          <a class="btn dropdown-toggle text-white" href="#" role="button"
            id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle fa-9x " style="color: aliceblue;"></i> {{username}}
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">ดูข้อมูล</a></li>
            <li><a class="dropdown-item" href="/logout">ออกจากระบบ</a></li>
          </ul>
        </div>
        {{!-- <button class="btn"></button> --}}
        <div class="offcanvas offcanvas-start" tabindex="-1"
          id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h1 class="offcanvas-title" id="offcanvasNavbarLabel">เมนู</h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          {{menu}}
        </div>
      </div>
    </nav>