<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="container pt-5 mt-5 px-4">
{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
    <div class="row">
        <h2>เพิ่มพนักงาน</h2>
    </div>
    <hr>
    <form method="post" action="/employee/create/insert">
        <div class="row py-1">
            <div class="col">
                <label for="username">username</label>
                <input type="text" name="username" class="form-control form-control-sm" autofocus>
            </div>
            <div class="col">
                <label for="password">password</label>
                <input type="password" name="password" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row py-1">
            <div class="col">
                <div class="input-group">
                <span class="input-group-text">ชื่อ-สกุล</span>
                <input type="text" name="fname" aria-label="First name" class="form-control form-control-sm"  >
                <input type="text" name="lname" aria-label="Last name" class="form-control form-control-sm">
                </div>
            </div>
        </div>
        <div class="row py-1">
            <div class="col">
                <label for="gender">เพศ</label>
                <select class="form-select form-select-sm" name="gender" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>เลือกเพศ</option>
                    <option value="ชาย">ชาย</option>
                    <option value="หญิง">หญิง</option>
                    <option value="เพศทางเลือกอื่นๆ">เพศทางเลือกอื่นๆ</option>
                </select>
            </div>
            <div class="col">
                <div class="col">
                <label for="position">ตำแห่นง</label>
                <select class="form-select form-select-sm" name="position" id="floatingSelect" aria-label="Floating label select example">
                    <option value="พนักงานทั่วไป" selected>พนักงานทั่วไป</option>
                    <option value="พนักงานขนส่ง">พนักงานขนส่ง</option>
                    <option value="พนักงานคิดเงิน">พนักงานคิดเงิน</option>
                </select>
            </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">อีเมล</label>
                    <input type="email" name="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@mail.com">
                </div>
            </div>
        </div>
        <div class="row py-1">
            <div class="col-6">
                <label for="phone">เบอร์โทรศัพท์</label>
                <input type="text" name="phone" class="form-control form-control-sm">
            </div>
            <div class="col-6">
                <label for="datepicker">วันเกิด</label>
                <input id="datepicker" name="birthdate" class="form-control form-control-sm text-primary" value=""></input>
            </div>
            
        </div>
        <div class="row">
            <div class="form-group">
            <label for="exampleFormControlTextarea1">ที่อยู่</label>
            <textarea class="form-control " name="address" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        </div>
        <div class="row py-5">
            <div class="col-6">
                <div class="mb-5">
                <label for="Image" class="form-label">รูปภาพพนักงาน</label>
                <input class="form-control" name="profileimg" type="file" id="formFile" onchange="preview()">
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-md-center">
                    <img id="frame" src="" class="img-fluid" />
                </div>
            </div>
        </div>
        <hr>
        <div class="row py-5">
            <div class="col text-end">
                <a class="btn btn-light" href="/employee">
                    <i class="bi bi-arrow-bar-left"></i> กลับ
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save-fill"></i> บันทึก
                </button>
                {{!-- <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
                </button> --}}
            </div>
        </div>
    </form>
</div>

<script>
    $('#datepicker').datepicker({
        inline:true,
        dateFormat: "yyyy-mm-dd"
    });

    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
    })

    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
</script>
