<div class="container pt-5 mt-5">
    <div class="row d-flex flex-row">
    <div class="col-6">
      <h3 class="text-start">รายละเอียดการซื้อเข้า</h3>
    </div>
    
  </div>
    <p>ชื่อ: {{payload.cus_fname}}</p>
    <p>สกุล: {{payload.cus_lname}}</p>
    <p>เพศ: {{payload.cus_gender}}</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>